- if current_user
	%h2 settings
	%form.form-inline{action:'/settings',method:'POST'}
		%input{type:'hidden',name:'_method',value:'PUT'}
		- (0..23).each do |i|
			- if current_user.hours && current_user.hours.include?(i)
				%input{type:'checkbox',name:"hours[#{i}]",checked:'true'}= i
			- else
				%input{type:'checkbox',name:"hours[#{i}]"}= i
		%select{name:'times'}
			- (1..50).each do |i|
				- if current_user.times == i
					%option{value:i,selected:'true'}= i
				- else
					%option{value:i}= i
		times
		.form-group
			%button.btn.btn-default update
	%h2 tweets
	%form.form-inline{action:'/',method:'POST'}
		.form-group
			%input.form-control{type:'text',name:'body'}
		.form-group
			%button.btn.btn-default enqueue
	%ul.list-group
	- current_user.tweets.desc(:created_at).each do |tweet|
		%li.list-group-item
			- if tweet.published
				%a{href:"https://twitter.com/#{current_user.screen_name}/status/#{tweet.status_id}"}= tweet.body
				%span.badge= 'published'
			- else
				= tweet.body
				%form.form-inline{action:"/#{tweet.id}",method:'POST'}
					%input{type:'hidden',name:'_method',value:'DELETE'}
					%button.btn.btn-default.btn-xs.pull-right#delete delete
