- if current_user
	%form.form-inline{action:'/settings',method:'POST'}
		%label settings
		%select{name:'times'}
			- (1..50).each do |i|
				- if current_user.times == i
					%option{value:i,selected:'true'}= i
				- else
					%option{value:i}= i
		times at
		%input{type:'hidden',name:'_method',value:'PUT'}
		- (0..23).each do |i|
			- if current_user.hours && current_user.hours.include?(i)
				%input{type:'checkbox',name:"hours[#{i}]",checked:'true'}= i
			- else
				%input{type:'checkbox',name:"hours[#{i}]"}= i
		= ':00'
		.form-group
			%input.btn.btn-default{type:'submit',value:'update'}
	%hr
	- if @tweet && !@tweet.errors.empty?
		.alert.alert-danger.alert-dismissible
			%ul
				- @tweet.errors.each do |k, v|
					%li= "#{k} #{v}"	
	%form.form-inline{action:'/',method:'POST'}
		%textarea.form-control#tweet{type:'text',name:'body',style:'width:80%'}
		%input.btn.btn-default{type:'submit',value:'enqueue'}
		%span.badge#count 0
	%table.table
		%tr
			%th body
			%th operations
			%th dates
		- current_user.tweets.desc(:updated_at).each do |tweet|
			%tr
				%td
					- if tweet.published
						%a{href:"https://twitter.com/#{current_user.screen_name}/status/#{tweet.status_id}"}= tweet.body
					- else
						- if tweet.visible
							!= tweet.body.gsub(/\n/, '<br>')
						- else
							.well!= tweet.body.gsub(/\n/, '<br>')
				%td
					%form.form-inline.pull-right{action:"/#{tweet.id}",method:'POST',style:'padding:0'}
						%input{type:'hidden',name:'_method',value:'DELETE'}
						%input.btn.btn-default{type:'submit',value:'delete'}
				%td
					%ul
						%li= "created at: #{tweet.created_at}"
						%li= "updated at: #{tweet.updated_at}"
						%li= "published at: #{tweet.published_at}"
:coffeescript
	$('#tweet')
		.focus()
		.on 'keyup', ()->
			$('#count').html $('#tweet').val().length
