%a.twitter-share-button
:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
- if current_user
	%form.form-inline{action:'/settings',method:'POST'}
		%label settings
		%select{name:'times'}
			- (1..50).each do |i|
				- if current_user.times == i
					%option{value:i,selected:'true'}= i
				- else
					%option{value:i}= i
		times at
		%input{type:'hidden',name:'_method',value:'PUT'}
		- (0..23).each do |i|
			- if current_user.hours && current_user.hours.include?(i)
				%input{type:'checkbox',name:"hours[#{i}]",checked:'true'}= i
			- else
				%input{type:'checkbox',name:"hours[#{i}]"}= i
		= ':00'
		.form-group
			%input.btn.btn-default{type:'submit',value:'update'}
	%hr
	- if @tweet && !@tweet.errors.empty?
		.alert.alert-danger.alert-dismissible
			%ul
				- @tweet.errors.each do |k, v|
					%li= "#{k} #{v}"	
	%form.form-inline{action:'/',method:'POST'}
		%textarea.form-control#tweet{type:'text',name:'body',style:'width:80%'}
		%span.badge.count 0
		%input.btn.btn-default{type:'submit',value:'enqueue'}
	%ul.list-group{style:'padding-top:1.0em'}
		- current_user.tweets.asc(:published).desc(:created_at).each do |tweet|
			%li.list-group-item{style:'padding-bottom:2.0em;'}
				- if !tweet.published
					%form.form-inline{action:"/#{tweet.id}",method:'POST',style:'padding:0;display:inline'}
						%input{type:'hidden',name:'_method',value:'DELETE'}
						%input.btn.btn-default.btn-xs{type:'submit',value:'delete'}
					%form.form-inline{action:"/#{tweet.id}",method:'POST',style:'padding:0;display:inline'}
						%input{type:'hidden',name:'_method',value:'PUT'}
						%input{type:'hidden',name:'visible',value:(!tweet.visible).to_s}
						%input.btn.btn-default.btn-xs{type:'submit',value:'toggle visibility'}
					%a.toggle-edit{href:'#'} edit
				- if tweet.published
					%a{href:"https://twitter.com/#{current_user.screen_name}/status/#{tweet.status_id}"}= tweet.body
				- else
					- if tweet.visible
						.tweet-body!= tweet.body.gsub(/\n/, '<br>')
					- else
						.tweet-body.well!= tweet.body.gsub(/\n/, '<br>')
					.tweet-edit{style:'display:none'}
						%form.form-inline{action:"/#{tweet.id}",method:'POST',style:'padding:0'}
							%input{type:'hidden',name:'_method',value:'PUT'}
							%textarea.form-control{name:'body',style:'width:100%',rows:5}= tweet.body
							%span.badge.count 0
							%input.btn.btn-default{type:'submit',value:'update'}
				%span.badge.pull-right #{tweet.created_at.strftime('%Y-%m-%d %H:%M:%S')} - #{tweet.updated_at.strftime('%Y-%m-%d %H:%M:%S')}
:coffeescript
	$('textarea')
		.focus()
		.on 'keyup', ()->
			$(this).next('.count').html $(this).val().length
	$('.toggle-edit')
		.on 'click', (e)->
			e.preventDefault()	
			$(this).next('.tweet-body').toggle()
			$(this).next().next('.tweet-edit').toggle()
			$(this).html if $(this).html() == 'edit' then 'cancel' else 'edit'
