- if current_user
	%form.form-inline{action:'/settings',method:'POST'}
		%label settings
		%input{type:'hidden',name:'_method',value:'PUT'}
		- (0..23).each do |i|
			- if current_user.hours && current_user.hours.include?(i)
				%input{type:'checkbox',name:"hours[#{i}]",checked:'true'}= i
			- else
				%input{type:'checkbox',name:"hours[#{i}]"}= i
		%select{name:'times'}
			- (1..50).each do |i|
				- if current_user.times == i
					%option{value:i,selected:'true'}= i
				- else
					%option{value:i}= i
		times
		.form-group
			%button.btn.btn-default update
	%hr
	%form.form-inline{action:'/',method:'POST'}
		%input.form-control#tweet{type:'text',name:'body',style:'width:80%'}
		%button.btn.btn-default enqueue
		%span.badge#count 0
	%ul.list-group
	- current_user.tweets.desc(:created_at).each do |tweet|
		%li.list-group-item
			- if tweet.published
				%a{href:"https://twitter.com/#{current_user.screen_name}/status/#{tweet.status_id}"}= tweet.body
			- else
				= tweet.body
			%form.form-inline.pull-right{action:"/#{tweet.id}",method:'POST',style:'padding:0'}
				%input{type:'hidden',name:'_method',value:'DELETE'}
				%button.btn.btn-default.btn-xs#delete delete
			- if tweet.published
				%span.badge= "published at #{tweet.published_at}"
:coffeescript
	$('#tweet')
		.focus()
		.on 'keyup', ()->
			$('#count').html $('#tweet').val().length
